  body {
    margin: 0 auto;
  }

  h1.homepagetitle {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 50px;
  }

  .signupbutton {

  }

  ul {
    margin: 0;
    padding: 0;
  }

  header {
    background: #edeeee;
    text-align: center;
    padding-top: 25px;
  }

  header button {
    border: 0;
    background: #3A5795;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 13px;
  }
    .table{
      margin: 0 auto;
    }

    ul li{
      display: inline;
    }

    div.navigation {
      text-align: center;
      display: table;
      margin: 10px auto;
    }

    #GroupHeader {
      margin: 0 auto;
      display: table;
      padding: 50px 30px 50px 80px;
    }

    #pictureForGroups {
      height: 400px;
      width: 400px;
      object-fit: cover;
    }

    .homepagelayout {
      text-align: center;
      margin: 0 auto;
      width: 60%;
/*      border: 3px solid #337ab7;*/
      padding: 10px;
      border-radius: 4px;
    }

    .homepageicon {
      margin-top: 30px;
    }

    .homepageicon ul {
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }

    .homepageicon ul li {
      margin: 0 auto;
      text-align: center;
      list-style: none;

    }

    .homepageicon ul li .circle {
      line-height: 260px;
      margin: 20px auto;
      padding: 20px;
      max-width: 300px;
      height: 300px;
      border: 1px solid #333;
      border-radius: 100%;
    }

    .list-group-item.active {
      background: #4F618F;
    }


