
<body>
  <section ng-show="groups.all.length">
    <p>Here are a list of our current groups:</p>
    <ul>
      <li ng-repeat="group in groups.all">
        <strong>{{group.local.title}}</strong>
      </li>
    </ul>
    <h2 ng-class="group.title">{{group.title}}</h2>
  </section>

  <main ng-controller="GroupsController as groups">

  <h2 ng-show="groups.selectedGroup">{{ groups.selectedGroup.title}} <span class="{{ groups.selectedGroup.picture | lowercase }}">{{ groups.selectedGroup.picture }}</span></h2>

  <h1 id="GroupHeader">The Groups Database</h1>
  <ul class="listgroup">
    <li ng-repeat="group in groups.groups" ng-click="groups.selectGroup(group)">
      {{ group.title }}<img id="pictureForGroups" src="{{ group.picture }}" class="{{ group.picture }}"><a href="#" ng-click="groups.editGroup(group)">Edit</a> <a ui-sref="showgroup({id: group._id})">View Tasks</a> <button ng-click="groups.deleteGroup(group)">Delete</button><br>
    </li>
  </ul>

  <nav class="grouptabs">
    <a ui-sref-active="active" ui-sref="addgroup">Add Group</a>

    </nav>
  </nav>
  <body>